services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - notification-service
    volumes:
      - /home/elias/docker-workspace/api-gateway:/app

  user-service:
    build: ./user-service
    ports:
      - "8001:8001"
    volumes:
      - /home/elias/docker-workspace/user-service:/app

  notification-service:
    build: ./notification-service
    ports:
      - "8002:8002"
    volumes:
      - /home/elias/docker-workspace/notification-service:/app

